.platform {
  height: 100%;
}

.platform-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.platform-wrapper {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
