.platform {
  height: 100%;
}

.platform-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.platform-wrapper {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.platform-header {
  background-color: var(--task-header);
  padding: 2rem;
  border-bottom: 2px solid black;
  box-shadow: 4px 5px 6px 0px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.platform-button {
  text-transform: uppercase;
  transition: all 0.1s ease-out;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--task-header);
  box-shadow: 1px 1px 5px 0px black;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--secondary);
}

.platform-button:hover {
  transform: scale(1.05);
}

.popup-background {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  content: "";
  left: 0;
  top: 0;
  z-index: 2;
}
