.card {
  background-color: var(--mode);
  transition: all 0.1s ease-in-out;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 5px 0px black;
}

.popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 999;
  max-width: 800px;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--tertiary);
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* ======= */
}

.popup-background {
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.subtask-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.single-subtask {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.popup-subtask-title {
  text-transform: uppercase;
}
