:root {
  --primary: #2d3250;
  --secondary: white;
  --tertiary: #424769;
  --quaternary: #7077a1;
  /* ----------- */
  --header: var(--primary);
  --mode: var(--quaternary);
  --task-header: var(--secondary);
  --header: var(--secondary);
  --btn-text: black;
}

* {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

h1 {
  font-weight: 900;
}

input {
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.dark {
  --task-header: var(--tertiary);
  --header: var(--primary);
  --btn-text: white;
  --mode: var(--tertiary);
  color: var(--secondary);
  background-color: var(--primary);
}

.wrapper {
  position: relative;
  margin: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.toggle {
  display: flex;
  padding: 1rem;
  background-color: var(--mode);
  border-radius: 2rem;
  justify-content: space-between;
}

.main-task {
  padding-inline: 1rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .wrapper {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}
